.top-bar {
    width: 100%;
    margin-bottom: 1rem;
}

.main-wrapper {
    width: 100%;
}

.user-info {
    display: flex;
    align-items: center;
    color: white;

    .user-icon {
        width: 24px;
        height: 24px;
        filter: brightness(0) invert(1); // Deixa branco
    }
}

#logoutButton {
    font-size: 0.85rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #ffffff;
        color: darken($primary-blue, 10%);
    }
}

